@tailwind base;
@tailwind components;
@tailwind utilities;

#tableBody::-webkit-scrollbar, #console-panel::-webkit-scrollbar {
    width: 8px;
}
  
#tableBody::-webkit-scrollbar-track {
    background: transparent;
}

#console-panel::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 15px;
    margin-bottom: 15px;
}

#tableBody::-webkit-scrollbar-thumb {
    background-color: #6b7280;
}

#console-panel::-webkit-scrollbar-thumb {
    background-color: #6b7280;
}

#tableBody::-webkit-scrollbar-button, #console-panel::-webkit-scrollbar-button {
  display: none;
  height: 0;
}